body {
    background-color: #DCE4EB;
}

.controls {
    align-self: flex-end;
    flex: 0 1 auto;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    padding: 16px 0;
}

.iterations {
    flex: 0 1 auto;
}

.library-version {
    flex: 0 1 auto;
}

.media-url {
    flex: 1 1 auto;
}


